@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
  --textColor: #fff;
}

* {
  font-family: 'Roboto', sans-serif;
}

.project {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.project h1 {
  margin-top: 1.5rem;
  color: var(--textColor);
  font-size: 2rem;
}
.project img {
  width: 90vw;
  border-radius: 10px;
}

.project p {
  font-size: 2.2rem;
  color: var(--textColor);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.project svg {
  font-size: 5rem;
  color: var(--textColor);
}

.project svg:hover {
  color: rgba(57, 0, 86, 1);
}

@media only screen and (min-width: 800px) {
  .project img {
    width: 400px;
  }
}

@media only screen and (min-width: 1300px) {
  .project img {
    width: 50vw;
  }
}
